.panel-heading, .panel-body {
  text-align: center;
}

.my-text-field {}

.my-text-field > * {
  display: inline-block !important;
}

.form-group {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  width: 50%;
}

.my-text-field > .btn {
  width: 32px;
  height: 32px;
  padding: 0;
  border-radius: 50%;
}

.output_subarea {
  width: 100%;
  max-width: 100% !important;
  padding: 0;
}

.btn[data-toggle="popover"] {
  box-sizing: content-box;
  padding: 8px;
  border-radius: 50%;
}

.btn[data-toggle="popover"] > div {
  height: 20px;
  width: 20px;
}

#maintoolbar {
  margin-bottom: 0;
  margin-top: 0;
}

.widget-label {
  max-width: none !important;
  text-align: left !important;
}

button.close {
  display: none;
}
