/******************** Notebook Controls ********************/

#insert_simplex_below .btn {
  background: orange;
}

/******************** SimpleX Widget ********************/

.panel-heading,
.panel-body {
  text-align: center;
}

.output_subarea {
  width: 100%;
  max-width: 100% !important;
  padding: 0;
}

.widget-label {
  max-width: none !important;
  text-align: left !important;
}

.simplex-hidden {
  display: none !important;
}

.widget-area {
  height: 0;
  overflow: hidden;
  transition: all 0.5s ease-out;
}

/******************** Widget Elements ********************/

.form-group {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  width: 50%;
}

.my-text-field > * {
  display: inline-block !important;
}

.my-text-field > .btn {
  width: 32px;
  height: 32px;
  padding: 0;
  border-radius: 50%;
}

.run-btn {
  margin-top: 2em;
}
/******************** Widget Tooltip Buttons ********************/

.btn[data-toggle="popover"] {
  box-sizing: content-box;
  padding: 8px;
  border-radius: 50%;
}

.btn[data-toggle="popover"] > div {
  height: 20px;
  width: 20px;
}

button.close {
  display: none;
}
